<!DOCTYPE html>
<html>
<head>
    <link href="/assets/styles.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<%- include('partials/nav'); %>
<h1>Welcome To This Website!</h1>
<p>Hello World!</p>
</body>
</html>